.min-h-60 {
    min-height: 60vh;
}

.padding-t-25 {
    padding-top: 25vh;
}


.bg-custom {
    background-image: url("../images/concert_bio.jpg");
}

.font-size-heroe {
    font-size: calc(1.5rem + 4vw);
}

.border-b-1-corporate {
    border-bottom: 1px solid #084298;
}