<footer
    class="bg-white items-center mt-0 mb-8 pt-8 flex ml-auto mr-auto w-full flex-1 max-width-1140 border-footer-b-1">
    <h1 class="text-corporate sm:hidden lg:block lg:w-3/12 text-2xl mb-8 font-custom">Rock Band</h1>

    <ul class="sm:w-full lg:w-7/12 justify-around mb-8 flex">
        <li class="text-corporate hover:text-yellow"><a href="./index.html">Home</a></li>
        <li class="text-corporate hover:text-yellow"><a href="./members.html">Miembros</a></li>
        <li class="text-corporate hover:text-yellow"><a href="./bio.html">Biografía</a></li>
        <li class="text-corporate hover:text-yellow"><a href="#">About</a></li>
    </ul>
</footer>