<ol class="mb-0 pt-8 text-xl border-b-1-corporate">
    <li class="mb-8 relative">
        <p class="font-bold mb-2">Trabajo</p>
        <p>Pese a iniciar esta aventura como una afición, todos los miembros del grupo han tenido
            siempre muy claro
            que si querían conseguir llevar el proyecto adelante debían trabajar duro y de forma
            constante. Es por
            ello
            que siempre han evitado conflictos internos y externos, dejando que música hablara por
            ellos.</p>
    </li>
    <li class="mb-8 relative">
        <p class="font-bold mb-2">Lealtad</p>
        <p>El camino hacia el éxito no ha sido un camino de rosas, pero todos los componentes del grupo
            siempre han
            sido fieles a sus compañeros. Aunque eso supusiera dejara pasar oportunidades a nivel
            personal, poniendo
            al grupo y sus intereses por delante.</p>
    </li>
    <li class="mb-8 relative">
        <p class="font-bold mb-2">Diversión</p>
        <p>Trabajar duro no significa que la música no sea la pasión de todos los miembros de la banda,
            es por ello
            que disfrutan en cada actuación intentando divertirse ellos y transmitírselo al público. Un
            concierto de
            rock debe ser una fiesta.
        </p>
    </li>
</ol>